.day {
    min-width: 300px;
    background-color: #e6ede6;
    margin: 3px;
    text-align: center;
}

.day-red {
    min-width: 300px;
    background-color: tomato;
    margin: 3px;
    text-align: center;
}

.days {
    display: flex;
    flex-direction: row;
}

.job {
    
    margin: 10px;
    min-height: 50px;
    background-color: #f7f7f7;
}