@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

.day {
    min-width: 25%;
    background-color: #e6ede6;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.day-red {
    min-width: 300px;
    background-color: tomato;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100vw;
    max-height: 100vh;
}

.job {
    margin: 10px;
    min-height: 50px;
    background-color: #f7f7f7;
    font-family: 'News Cycle', sans-serif;
}

.jobControls {
    padding: 10px;
    font-size: large;
}

select {
    margin: 10px;
}

.dayProps {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: 'Fjalla One', sans-serif;
}

.weekDay {
    margin: 2px;
    font-family: 'News Cycle', sans-serif;
}

.skipButton {
    margin: 5px;
}
