<div>
    {{input value=newJobEntry}}
    <button {{on "click" (fn @sendToController this.dateString newJobEntry)}}>Add job</button> 
</div>
 


{{#each jobsForThisDay as |job|}}
    <div>{{job}}</div>
{{/each}}