<div>
    <button {{action 'postToDb'}}>Create job</button>
</div>

{{drop-down action 'wasChanged'}}

<section>

{{#each @model as |job|}}
<div>
  <div>{{job.startOn}}</div>
</div>
{{/each}}
</section>